.gallery-img{
    width: 200px;

}

.gallery-container{
    display: flow-root;
    width: fit-content;
    margin: auto;
}

.gallery-img-container{
    float: left;
}

.gallery-img-text{
    text-align: center;
    position: relative;
    top: -50px;
    opacity: 0;
    transition: all 1s;
    z-index: -1;
}

.gallery-img-container:hover .gallery-img-text{
    opacity: 1!important;
}

.gallery-link{
    margin: 10px;
    margin-bottom: 30px;
}

.header{
    padding-left: 10px;
    text-align: center;
    margin-bottom: 0;

}

.sub-header
{
    text-align: center;
    margin-top: 0;
}

.title-span{
    position: relative;
    transition: top 1s;
    top: 0;
}


body{
    padding: 20px;
    font-family: "Open Sans";
}
